::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.25);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.Topbar {
    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
    height: 4vh;

    background-color: rgb(40, 40, 40);
    box-sizing: border-box;
    border-bottom: 2px solid rgba(255, 255, 255, 0.125);

    display: flex;
    flex-direction: row;

    justify-content: left;
    align-items: center;
    gap: 0.5vw;
}

.Topbar > * {
    font-size: 2vh;
}

.Topbar > *:first-child {
    margin-left: 1vw;
}

.Topbar > *[onclick] {
    color: white;

    background-color: rgba(255, 255, 255, 0.125);
    padding-left: 1vw;
    padding-right: 1vw;
    
    border-radius: 4px;

    cursor: pointer;

    transition: all 0.25s ease;
}

.Topbar > *[onclick]:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.Video {
    position: relative;
    border-radius: 8px;
    width: 100%;
    overflow: hidden;

    user-select: none !important;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
}

.Video > .Controls {
    position: absolute;
    bottom: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.5);

    width: 100%;
    height: 4vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.Video > .Controls > .Playbar {
    position: absolute;

    background-color: red;

    width: 100%;
    height: 4px;

    top: -4px;
}

.Video > .Controls > .Playbar > .PlayHandle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;

    background-color: red;
    
    width: 12px;
    aspect-ratio: 1 / 1;
    
    border-radius: 100%;

    cursor: pointer;
}

.Video > .Controls > * {
    font-family: "Arial";
    font-weight: 900;

    color: white;
}

.Video > .Controls > *:not(.Playbar):first-of-type {
    margin-left: 1vw;
    height: 3vh;
    cursor: pointer;
}

.Video > .Controls > *:not(.Playbar) {
    margin-left: 0.5vw;
}

vr {
    width: 1px;
    height: 50%;
    background-color: #fff;
    margin: 0 0.5vw;
}

i {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    height: 1em;
    width: 1em;
    background-color: #fff;
    animation: spin 1s ease infinite;
}

i:before,
i:after {
    content: '';
    position: absolute;
    height: 1em;
    width: 1em;
    background: inherit;
    animation: spin 1s ease infinite;
}

i:before {
    left: -2em;
}

i:after {
    left: 2em;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}