@import url("./fonts.css");

body {
    background-color: rgb(30, 30, 30);
    color: white;
    font-family: "EchoFont";
    overflow: hidden;
}

header {
    font-size: 6vh;
    font-weight: 700;
}

input {
    text-align: center;
    font-family: "EchoFont";
    font-weight: 500;
    font-size: 4vh;
    border: none;
}

button {
    text-align: center;
    font-family: "EchoFont";
    font-weight: 600;
    font-size: 4vh;
    border: none;
    cursor: pointer;

    border-radius: 1em;
    padding-left: 2vh;
    padding-right: 2vh;
}

button:hover {
    opacity: 0.75;
}

vr {
    width: 1px;
    height: 50%;
    background-color: #fff;
    margin: 0 0.25vw;
}

.Topbar {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 4vh;
    background-color: rgb(40, 40, 40);
    box-sizing: border-box;
    border-bottom: 2px solid rgba(255, 255, 255, 0.125);

    display: flex;
    flex-direction: row;

    justify-content: left;
    align-items: center;
    gap: 0.5vw;
}

.Topbar > * {
    font-size: 2vh;
}

.Topbar > *:first-child {
    margin-left: 1vw;
}

.Conversations {
    display: flex;
    flex-direction: column;

    z-index: -1;

    position: absolute;
    left: 0;
    top: 4vh;
    height: 125%;
    width: 31.5%;

    box-sizing: border-box;
    background-color: rgb(30, 30, 30);

    align-items: center;

    overflow-x: hidden;
    overflow-y: auto;

    transition: all 0.25s ease;
}

.Conversations > div {
    display: flex;
    flex-direction: row;
    gap: 1vh;

    margin-top: 1vh;

    width: 90%;
    height: 4vh;

    background-color: rgba(255, 255, 255, 0.125);
    border-radius: 100em;

    align-items: center;

    transition: all 0.25s ease;
}

.Conversations > div:not([disabled]):hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.25);
}

.Conversations > div[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

.Conversations > div > span {
    font-size: 100%;
    font-weight: 700;
}

.Conversations > div > img:first-of-type {
    border-radius: 100%;
    border: 2px solid white;
    height: 75%;
}

.Conversations > div > img:not(:first-of-type) {
    opacity: 0.75;
    border-radius: 100%;
    height: 75%;
}

.Conversations > div > img:not(:first-of-type):hover {
    opacity: 1;
}

.Messages {
    display: flex;
    flex-direction: column;

    position: absolute;
    left: 62.5%;
    top: 52vh;
    transform: translate(-50%, -50%);

    width: 62vw;
    height: 96vh;

    background-color: rgb(50, 50, 50);

    overflow-x: hidden;
    overflow-y: auto;
}

.Messages > p {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    font-size: 2vh;
    font-weight: 700;
}

.Messages > div:is(.Pure) > div > img {
    border-radius: 1vh;
    border: 2px solid white;
    box-sizing: border-box;
    transition: all 0.25s ease;
}

.Messages > div:is(.Pure) > img {
    height: 4vh;
}

.Messages > div:is(.Pure) > div {
    margin-left: 2vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.25vw;
}

.Messages > div {
    width: 100%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 2vh;
}

.Messages > div:is(.Pure)[client] {
    background-color: rgba(0, 123, 255, 0.125);
    padding-left: 1vw;
}

.Messages > div:is(.Pure):not([client]) {
    background-color: rgba(255, 0, 0, 0.125);
    padding-left: 1vw;
}

.Messages input::placeholder {
    color: rgba(255, 255, 255, 0.25);
}

.InputSection {
    position: absolute;
    left: 0;
    bottom: -9vh;
    bottom: 1.5vh;

    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 6vh;

    transition: all 0.25s ease;
}

.Buttons {
    display: flex;
    flex-direction: row;
    gap: 2vw;

    align-items: center;
    justify-content: center;

    position: absolute;
    left: 0;
    bottom: 9vh;
    float: right;

    opacity: 0;

    box-sizing: border-box;
    border-top: 2px solid rgba(255, 255, 255, 0.125);
    background-color: rgb(60, 60, 60);

    width: 100%;
    height: 5vh;

    transition: all 0.25s ease;
}

.Buttons > img {
    height: 75%;
    cursor: pointer;
    transition: all 0.25s ease;
}

.Buttons > img:hover {
    filter: brightness(1.25);
}

.InputSection > input {
    width: 100%;
    height: 100%;

    background-color: rgb(60, 60, 60);
    color: white;
    outline: none;

    font-size: 1.5vh;

    transition: all 0.25s ease;
}

.Account {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    width: 60%;
    height: 50%;
    background-color: white;
    border-radius: 2vh;

    text-align: center;

    display: flex;
    flex-direction: column;

    overflow: hidden;
}

.Account > span {
    color: black;
    font-size: 4vh;
    font-weight: 700;
}

.Account > input, .Account > button {
    height: 100%;
}

.Account > input:hover, .Account > button:hover {
    background-color: rgba(0, 0, 0, 0.125);
}

.ImagePrompt {
    font-family: "EchoFont";

    position: absolute;
    left: 0;

    width: 100%;
    margin: 0;
    padding-bottom: 2vh;
    padding-top: 2vh;

    display: flex;
    gap: 1vh;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.25);

    align-items: center;
    align-content: center;
    justify-items: center;

    visibility: hidden;

    overflow: hidden;
}

.ImagePrompt > * {
    font-size: 2vh;
    width: 48vw;
}

.ImagePrompt > input {
    font-family: "EchoFont";
    border-radius: 100em;
    background-color: rgba(255, 255, 255, 0.125);
}

i {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    height: 1em;
    width: 1em;
    border-radius: 50%;
    background-color: #fff;
    animation: spin 1s linear infinite;
}

i:before,
i:after {
    content: '';
    position: absolute;
    height: 1em;
    width: 1em;
    background: inherit;
    border-radius: 50%;
}

i:before {
    left: -2em;
}

i:after {
    left: 2em;
}

@keyframes spin {
    0% {
        transform: rotate(-0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}